<!-- Banner -->
<div class="relative overflow-hidden bg-white">
  <div class="pt-10 pb-8">
    <div class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8">
      <div class="sm:max-w-lg">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Os melhores produtos</h1>
        <p class="mt-4 text-xl text-gray-500">Descubra os melhores produtos! Ofertas imperdíveis e qualidade garantida.</p>
      </div>
      <div>
        <div class="mt-10">
          <!-- Decorative image grid -->
          <div aria-hidden="true" class="pointer-events-none lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl">
            <div class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
              <div class="flex items-center space-x-6 lg:space-x-8">
                <div class="grid shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="h-72 w-120 overflow-hidden rounded-lg sm:opacity-0 lg:opacity-100">
                    <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/home-page-03-feature-section-full-width.jpg" alt="" class="size-full object-cover" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a routerLink="/product" class="inline-block rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-center font-medium text-white hover:bg-indigo-700">Ver Produtos</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Produtos -->
<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-6 sm:px-6 sm:pb-16 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Mais vendidos</h2>
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <div class="group relative" *ngFor="let product of products">
        <img class="w-80 h-72" src={{product.image}} />
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a [routerLink]="['/product', product.id]">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Videogame
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">{{product.name}}</p>
          </div>
          <p class="text-sm font-medium text-gray-900">{{product.price | currency:'BRL':'symbol':'1.2-2'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>