<!-- Title -->
<div class="mx-auto mt-8 max-w-2xl sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        <h1>Shopping Cart</h1>
    </div>
</div>

<!-- <div class="mx-auto mt-12 max-w-2xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-8 lg:px-8"> -->
<div class="mx-auto mt-8 max-w-2xl sm:px-6 lg:max-w-7xl lg:px-8 flex justify-between">

    <!-- Product Cards -->
    <div class="flex flex-col divide-y divide-gray-200 border-t border-b border-gray-200 w-[710px]">
        <div class="flex py-10" *ngFor="let item of cartItems">
            <div class="size-48">
                <img class="w-48 h-48" src="{{item.product.image}}">
            </div>
            <div class="ml-6 w-56 h-48 flex flex-col">
                <p class="font-medium text-gray-700">{{item.product.name}}</p>
                <div class="flex divide-x divide-gray-300">
                    <p class="text-gray-600 pr-4">Siena</p>
                    <p class="text-gray-600 pl-4">Large</p>
                </div>
                <p class="font-medium text-gray-900">{{item.product.price | currency: 'BRL'}}</p>
                <div class="mt-auto flex">
                    <svg class="w-5 mr-2" viewBox="0 0 20 20" fill="#00C950" aria-hidden="true" data-slot="icon">
                        <path
                            d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <p class="text-gray-700">In stock</p>
                </div>
            </div>            
            <div class="ml-auto flex items-start">
                <div class="mr-40">
                    <select class="w-[70px] h-[40px] font-medium border border-gray-300 text-sm rounded-lg focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 p-2.5 text-gray-700" [value]="[item.quantity]" (change)="updateQuantity(item.product.id, $event)">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>                    
                </div>
                <button type="button" (click)="removeItem(item.product.id)">
                    <svg class="w-5 hover:fill-[#6A7282]" viewbox="0 0 20 20" fill="#8F95A1" aria-hidden="true" data-slot="icon">
                        <path
                            d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z">
                        </path>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <!-- Order Summary -->
    <div class="flex-col bg-gray-50 px-8 py-8 rounded-lg h-[360px] w-[440px]">
        <h1 class="text-lg font-medium mb-4 text-gray-900">Order Summary</h1>
        <div class="divide-y divide-gray-200">
            <div class="flex justify-between py-3">
                <p class="text-gray-600">Subtotal</p>
                <p class="font-medium text-gray-900">{{subTotal | currency: 'BRL'}}</p>
            </div>
            <div class="flex justify-between py-3">
                <p class="text-gray-600">Shipping estimate</p>
                <p class="font-medium text-gray-900">{{shippingEstimate | currency: 'BRL'}}</p>
            </div>
            <div class="flex justify-between py-3">
                <p class="text-gray-600">Tax estimate</p>
                <p class="font-medium text-gray-900">{{taxEstimate | currency: 'BRL'}}</p>
            </div>
            <div class="flex justify-between py-3">
                <p class="text-lg font-medium text-gray-900">Order total</p>
                <p class="text-lg font-medium text-gray-900">{{orderTotal | currency: 'BRL'}}</p>
            </div>
        </div>
        <button type="submit"
            class="w-full bg-indigo-600 px-6 py-3 rounded-md text-base font-medium text-white shadow-xs hover:bg-indigo-700 mt-auto focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Checkout</button>
    </div>

</div>